$ff-primary: "Overpass", sans-serif;

$fs-primary: 0.9375rem;
$fs-primary-100: 1rem;
$fs-primary-200: 1.75rem;

$fw-400: 400;
$fw-700: 700;

$clr-orange: hsl(25, 97%, 53%);

$clr-white: hsl(0, 0%, 100%);
$clr-grey-light: hsl(217, 12%, 63%);
$clr-grey-medium: hsl(216, 12%, 54%);
$clr-grey-medium-100: hsl(216, 12%, 54%, 0.2);

$clr-blue-dark-lighter: hsl(213, 19%, 18%, 0.5);
$clr-blue-mid: hsl(210, 19%, 18%);
$clr-blue-dark: hsl(215, 23%, 15%);
$clr-blue-very-dark: hsl(216, 12%, 8%);

$border-radius: 100px;
$grid-display: grid;

$transition: background-color, color, 0.25s;
